env="NGPS"
user="ngpsadmin"

#optix_hosts
Dev_EDC="srh01051.ute.fedex.com,srh01052.ute.fedex.com,srh01053.ute.fedex.com,srh01054.ute.fedex.com,sje01051.ute.fedex.com,sje01052.ute.fedex.com,sje01053.ute.fedex.com,sje01054.ute.fedex.com"
Stage_EDC="vrh00648.ute.fedex.com,vrh00649.ute.fedex.com,vrh00650.ute.fedex.com,vrh00651.ute.fedex.com,vje01160.ute.fedex.com,vje01161.ute.fedex.com,vje01162.ute.fedex.com,vje01163.ute.fedex.com"
Prod_WTC="prh12176.lhsprod.fedex.com,prh12177.lhsprod.fedex.com,prh12178.lhsprod.fedex.com,prh12179.lhsprod.fedex.com,pje12212.lhsprod.fedex.com,pje12213.lhsprod.fedex.com,pje12224.lhsprod.fedex.com,pje12225.lhsprod.fedex.com"
Prod_EDC="prh01499.lhsprod.fedex.com,prh01500.lhsprod.fedex.com,prh01501.lhsprod.fedex.com,prh01502.lhsprod.fedex.com,pje02725.lhsprod.fedex.com,pje02726.lhsprod.fedex.com,pje02727.lhsprod.fedex.com,pje02728.lhsprod.fedex.com"

if [[ $Dev_EDC =~ `hostname` ]];
then DRSite="Dev_EDC"
elif [[ $Stage_EDC =~ `hostname` ]];
then DRSite="Stage_EDC"
elif [[ $Prod_WTC =~ `hostname` ]];
then DRSite="Prod_WTC"
elif [[ $Prod_EDC =~ `hostname` ]];
then DRSite="Prod_EDC"
else DRSite="undefined"
fi

if [[ $DRSite == @(Dev_EDC) ]];
then server="dev"
elif [[ $DRSite == @(Stage_EDC) ]];
then server="stage"
elif [[ $DRSite == @(Prod_WTC|Prod_EDC) ]];
then server="prod"
else server="undefined"
fi

#command variables
#Weblogic Servers
#WL Admin Server
cmd_stop_wladmin=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngps_stopAdmin.sh")
cmd_start_wladmin=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngps_startAdmin.sh")
cmd_tail_wladmin_log=("less" "+F" "/opt/fedex/ngps/weblogic/admin/"$server"_ngps_domain/"$server"-ngps-admin/server.log")

#WL Runtime/Viewer Server
cmd_stop_rtmanaged=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngpsrt_stopManaged")
cmd_start_rtmanaged=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngpsrt_startManaged")
cmd_tail_rtmanaged_log=("less" "+F" "")

#WL Publisher Server
cmd_stop_pubmanaged=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngpspub_stopManaged.sh")
cmd_start_pubmanaged=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngpspub_startManaged.sh")
cmd_tail_pubmanaged_log=("less" "+F" "")

#WL Doc-Control Server
cmd_stop_dcmanaged=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/control_stopManaged.sh")
cmd_start_dcmanaged=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/control_startManaged.sh")
cmd_tail_dcmanaged_log=("less" "+F" "")

#WL ADAPT Server
cmd_stop_adapt=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/adapt_stopManaged.sh")
cmd_start_adapt=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/adapt_startManaged.sh")
cmd_tail_adapt_log=("less" "+F" "")

#View Core-CMI-LB
#Viewer Core Server
cmd_stop_viewcore=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngps_stop57Core.sh")
cmd_start_viewcore=("sudo" "-u" "$user" "/opt/fedex/ngps/current/scripts/ngps_start57Core.sh")
cmd_tail_viewcore_log=("less" "+F" "")
